@rendermode InteractiveAuto
@* Importamos MudBlazor *@
@using MudBlazor
@using MudBlazor.Components

@* Importamos los modelos y servicios compartidos y inyectamos la interfaz*@
@using PokeApi.Shared.Models

@* Importamos los servicios del cliente *@
@using Services;

@* Verificamos si se encontró algún pokemón*@


@if (pokemon == null)
{
    @* Mostramos el esqueleton en caso de que no se halla seleccionado nada *@
    <MudContainer Class="mt-20">


        <MudGrid Justify="Justify.Center">
            <MudItem>

                <MudSkeleton SkeletonType="SkeletonType.Circle" Width="200px" Height="200px" />

            </MudItem>
        </MudGrid>


        @* Nombre*@
        <MudGrid Justify="Justify.Center" Class="mt-10">

            <MudItem xs="6">

                <MudSkeleton Height="80px" />

            </MudItem>

        </MudGrid>

        @* labelTipo *@
        <MudCardContent>
            <MudSkeleton Width="10%" Class="ml-2" />
        </MudCardContent>

        @* Tipo *@
        <MudGrid Justify="Justify.Center">

            <MudSkeleton Width="45%" Height="90px;" Class="ml-4" />
            <MudSkeleton Width="45%" Height="90px;" class="ml-4" />

        </MudGrid>


        @* labelHabilidades*@
        <MudCardContent>
            <MudSkeleton Width="10%" Class="ml-2" />
        </MudCardContent>


        @* Tipo *@
        <MudGrid Justify="Justify.Center">

            <MudSkeleton Width="45%" Height="90px;" Class="ml-4" />
            <MudSkeleton Width="45%" Height="90px;" class="ml-4" />

        </MudGrid>

    </MudContainer>

}
// Si se encontró un pokemón, se muestra la información
else
{

    @* Se muestra la imagen del pokemón si existe *@
    <MudGrid class="px-10 mt-4 border border-success" Justify="Justify.Center">

        <MudItem xs="12" md="12" lg="12" class=" d-flex justify-content-center  ">


            @if (!string.IsNullOrEmpty(ImgPokemon))
            {
                <MudImage Src="@ImgPokemon" Class="w-50 border border-danger" Alt="@pokemon.Name" />
            }

        </MudItem>

        @* Se muestra el nombre del pokemón si existe *@

        <MudItem xs="12" md="12" lg="12" class="text-center">


            @if (!string.IsNullOrEmpty(pokemon.Name))
            {
                <MudText Typo="Typo.h6" Class="fw-bold">@pokemon.Name.ToUpper()</MudText>
            }

        </MudItem>

        @* Labe Tipo ----------------------------------------------------------------------------------- *@

        <MudItem xs="12" md="12" lg="12" Class="mb-5">

            <MudText Typo="Typo.body1">Tipos</MudText>

            <MudDivider />

        </MudItem>

        @foreach (var type in pokemon.Types)
        {

            <MudItem xs="12" md="6" lg="6" class="border p-0">

                <div class="d-flex justify-content-center  px-5 py-3 w-full h-full rounded  @GetTypeClass(type.Type.Name)">

                    <MudText Typo="Typo.body1" Class="text-white text-bold">@type.Type.Name</MudText>

                </div>

            </MudItem>

        }

        @* Se muestran las habilidades del pokemon *@

        @* Labe Habilidades ------------------------------------------------------------ *@
        <div class="row mt-4">
            <div class="col-12 text-start text-secondary">
                <p class="fw-light fst-italic">Habilidades</p>
            </div>
        </div>

        <div class="row mt-2 justify-content-center">

            @foreach (var ability in pokemon.Abilities)
            {
                <div class="col-6 text-center p-3 border rounded">

                    <span class="type-badge">@ability.Ability.Name</span>

                </div>
            }
        </div>

    </MudGrid>






   
}


    @code {

        // Declaramos una variable para el servicio
    private PokeApiClientService _clientService;

    // Parámetro para recibir el nombre del pokemón
    [Parameter]
    public string Name { get; set; } = string.Empty;

    // Variable para almacenar las características del pokemón
    private PokemonCharacteristics? pokemon;

    // Variable para almacenar la imagen del pokemón
    private string? ImgPokemon;


    protected override async Task OnInitializedAsync()
    {
        // Inicializar el cliente con la URL de la API
        _clientService = new PokeApiClientService("https://localhost:7285/");

    }


    //OnParametersSetAsync para detectar cambios en el parámetro
    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(Name))
        {
            pokemon = null;
            return;
        }

        try
        {
            pokemon = await _clientService.GetPokemonByNameAsync(Name);

            if (pokemon != null && !string.IsNullOrEmpty(pokemon.Name))
            {
                ImgPokemon = $"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{pokemon.Id}.png";
            }
            else
            {
                pokemon = null;
            }
        }
        catch
        {
            Console.WriteLine($"Error al obtener el pokemón");
            pokemon = null;
        }



    }

    // Método para obtener la clase de los tipos
    private string GetTypeClass(string typeName)
    {
        return typeName switch
        {
            "normal" => "bg-normal",
            "fighting" => "bg-fighting",
            "flying" => "bg-flying",
            "poison" => "bg-poison",
            "ground" => "bg-ground",
            "rock" => "bg-rock",
            "bug" => "bg-bug",
            "ghost" => "bg-ghost",
            "steel" => "bg-steel",
            "fire" => "bg-fire",
            "water" => "bg-water",
            "grass" => "bg-grass",
            "electric" => "bg-electric",
            "psychic" => "bg-psychic",
            "ice" => "bg-ice",
            "dragon" => "bg-dragon",
            "dark" => "bg-dark",
            "fairy" => "bg-fairy",
            "stellar" => "bg-stellar",
            "unknown" => "bg-unknown",
            _ => ""
        };
    }

}